@page "/LyonEsport"
@using System.Net.Http.Json
@using Tournois_Gamer_BlazorServer.Data;
@inject EventServices eventServices

<PageTitle>LyonEsport</PageTitle>

<h3>LyonEsport</h3>

<MudDataGrid Items="event_.EngagementTermsList.Take(event_.EngagementTermsList.Count())">
    <Columns>
        <PropertyColumn Property="x => x.Platform" Title="Nr" />
        <PropertyColumn Property="x => x.Sign" />
        <PropertyColumn Property="x => x.Name" />
        <PropertyColumn Property="x => x.Position" />
        <PropertyColumn Property="x => x.Molar" Title="Molar mass" />
    </Columns>
</MudDataGrid>

@code {
    private Event? event_;

    protected override async Task OnInitializedAsync()
    {
        event_ = await eventServices.GetEventAsync();
    }
}