@inherits LayoutComponentBase
<!-- Je ne suis pas certain que c'est à la bonne place-->
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<PageTitle>Tournois_Gamer_BlazorServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
